.field
{
	width: calc(52px*12);
	min-height: calc(52px*6);
	border: solid black 1px;
	float: left;
}

.button-container
{
	width: 100px;
	height: 300px;
}

.button
{
	width: 80px;
	height: 25px;
	margin-bottom: 5px;
	margin-left: 10px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #ddd;
}

.disabled
{
	cursor: default;
}

.inline-block
{
	display: inline-block;
}

.item
{
	width: 50px;
	height: 50px;
	text-align: center;
	float: left;
	display: inline-block;
	border: solid #ddd 1px;
}

.red
{
	background-color: #f44336;
}

.green
{
	background-color: #4caf50;
}

.orange
{
	background-color: #ff9800;
}

.white
{
	background-color: white;
}